<div class="content flex flex-col h-screen w-screen overflow-hidden">
  <!-- Progress Bar -->
  <app-progress-bar
    *ngIf="showProgressBar"
    [progress]="progress"
    [autoIncrement]="true"
    [intervalTime]="1000"
    (progressComplete)="hideProgressBar()"
  ></app-progress-bar>

  <div class="grid-container w-full">
    <div class="ag-grid-wrapper w-full h-full overflow-y-hidden">
      <ag-grid-angular
        class="ag-theme-alpine"
        style="min-width: 100%; height: 100%"
        [rowData]="users"
        [theme]="theme"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <!-- Notifications Section -->
  <section class="fixed bottom-4 right-4 w-96 z-50">
    <div class="bg-white p-4 rounded-lg shadow-lg border border-gray-300">
      <h3 class="font-semibold text-black mb-2 text-lg">Notifications</h3>
      <ul class="max-h-40 overflow-y-auto">
        <li
          *ngFor="let notification of notifications"
          class="bg-green-100 border-l-4 border-green-500 text-green-800 p-3 rounded-lg shadow-md mb-2"
        >
          {{ notification }}
        </li>
        <li
          *ngIf="notifications.length === 0"
          class="text-gray-500 text-sm text-center"
        >
          No new notifications.
        </li>
      </ul>
    </div>
  </section>
</div>
