<div
  class="h-screen w-screen flex flex-col overflow-y-hidden relative"
  [ngClass]="{ 'dark-mode': isDarkMode }"
>
  <header class="bg-gray-800 w-full h-16 fixed top-0 left-0 z-50">
    <app-nav-bar
      (toggleSidebar)="toggleLeftSidebar()"
      (toggleDarkMode)="toggleDarkMode()"
    ></app-nav-bar>
  </header>

  <!--  Toastr Container -->
  <ngx-toast-container class="absolute top-0 left-0 w-full z-[9999]"></ngx-toast-container>

  <div class="flex flex-grow pt-16 bg-[#d1d6de]">
    <aside
      class="bg-blue-700 text-white fixed top-16 left-0 transition-all duration-300 ,"
      [ngClass]="{
        'w-20': isLeftSidebarCollapsed,
        'w-64': !isLeftSidebarCollapsed
      }"
      style="height: 100vh"
    >
      <app-sidebar
        *ngIf="isDarkMode !== undefined"
        [isLeftSidebarCollapsed]="isLeftSidebarCollapsed"
        [isDarkMode]="isDarkMode"
      ></app-sidebar>
    </aside>

    <main
      class="flex-grow overflow-y-hidden p-6 bg-white relative dark-mode:bg-gray-800 dark-mode:text-white"
      [ngClass]="{
        'ml-20': isLeftSidebarCollapsed,
        'ml-64': !isLeftSidebarCollapsed
      }"
      style="height: calc(100vh - 4rem); min-height: 100vh"
    >
      <div class="content-wrapper relative" style="position: relative; min-height: 100vh">
        <app-loading></app-loading>
        <!-- pass this darkmode theme all the child -->
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>

      <app-error-dialog></app-error-dialog>
    </main>
  </div>
</div>
