<div [class.dark-mode]="isDarkMode" class="payment-container payment">
  <!-- Tabs -->
  <div class="tabs">
    <button (click)="selectPaymentType('credit')" [class.active]="activeTab === 'credit'">
      Credit Card
    </button>
    <button (click)="selectPaymentType('paypal')" [class.active]="activeTab === 'paypal'">
      PayPal
    </button>
    <button (click)="selectPaymentType('qr')" [class.active]="activeTab === 'qr'">QR Code</button>
  </div>

  <!-- Credit Card Section -->
  <div *ngIf="activeTab === 'credit'" class="credit-card-section">
    <h3>Select Card Type</h3>
    <div class="card-type-list">
      <button
        *appCustomNgFor="let type of cardTypes"
        class="card-type"
        [class.active]="selectedCardType === type"
        (click)="selectCardType(type)"
      >
        {{ type }}
      </button>
    </div>

    <form *ngIf="showNewCardForm" (ngSubmit)="processPayment()" #cardForm="ngForm">
      <h4>{{ selectedCardType }} Card Details</h4>

      <input
        type="text"
        [(ngModel)]="newCard.name"
        name="cardName"
        placeholder="Cardholder Name"
        required
      />

      <input
        type="text"
        [(ngModel)]="newCard.number"
        name="cardNumber"
        placeholder="Card Number"
        required
      />

      <input
        type="text"
        [(ngModel)]="newCard.expiry"
        name="cardExpiry"
        placeholder="MM/YY"
        required
      />

      <input type="password" [(ngModel)]="newCard.cvv" name="cardCvv" placeholder="CVV" required />

      <!-- Amount Field -->
      <input type="text" [(ngModel)]="amount" name="amount" placeholder="Enter Amount" required />

      <button type="submit" [disabled]="!cardForm.form.valid">Pay Now</button>
    </form>
  </div>

  <!-- PayPal Section -->
  <div *ngIf="activeTab === 'paypal'" class="paypal-section">
    <h3>Pay with PayPal</h3>

    <div class="paypal-card">
      <img src="assets/paypal_logo.jpg" alt="PayPal Logo" class="paypal-logo" />

      <p>Redirect to PayPal site.</p>

      <input type="text" id="paypalAmount" [(ngModel)]="amount" placeholder="Enter amount" />

      <button (click)="redirectToPayPalSite()" [disabled]="amount <= 0">Proceed to PayPal</button>
    </div>
  </div>

  <!-- QR Code Section -->
  <div *ngIf="activeTab === 'qr'" class="qr-section">
    <h3>Scan QR Code</h3>
    <img src="assets/qr-code-url.png" alt="Test" />
  </div>
</div>
