@use 'tailwindcss';

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Full-page centered toast */
:root {
  --toast-z-index: 9999;
}

.p-toast {
  top: 81.5% !important;
  right: 1.2% !important;
  transform: none !important;
  position: fixed !important;
  z-index: 9999;
}

.p-toast .p-toast-message {
  min-width: 300px;
  max-width: 500px;
}

.p-toast .p-toast-message-content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #28a745;
  animation: toast-timer 3s linear forwards;
  width: 100%;
}

@keyframes toast-timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes toastProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-progress {
  animation-name: toastProgress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/*  Default Light Mode */
body {
  background-color: #f5f5f512;
  color: black;
  transition:
    background-color 0.3s,
    color 0.3s;
  height: 100%;
  overflow-y: auto;
}

/*  Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

/*  Main Content */
main {
  background-color: rgba(255, 255, 255, 0.332);
  color: black;
  transition: background-color 0.3s;
}

body.dark-mode main {
  background-color: #181818;
  color: white;
}

/*  Buttons */
button {
  color: white;
  transition: background-color 0.3s;
}
