<div class="p-6">
  <div *ngIf="users.length > 0">
    <h2 class="text-2xl font-semibold text-center mb-4">All Users</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <div *ngFor="let user of users" class="bg-white shadow-md rounded-lg p-4">
        <h3 class="text-lg font-semibold text-gray-900">{{ user.name }}</h3>
        <p class="text-gray-600"><strong>Email:</strong> {{ user.email }}</p>
        <p class="text-gray-600"><strong>Role:</strong> {{ user.role }}</p>
        <p class="text-gray-600">
          <strong>Status:</strong> {{ user.isActive ? "Active" : "Inactive" }}
        </p>
      </div>
    </div>
  </div>
  <br />
  <app-progress-bar
    [progress]="0"
    [autoIncrement]="true"
    [intervalTime]="1000"
  ></app-progress-bar>
</div>
