<div class="card flex justify-center">
  <p-dialog
    header="Error"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="error-message-container p-3">
      <p class="error-text">{{ errorMessage || 'An unknown error occurred' }}</p>
    </div>
    <p-footer>
      <button pButton type="button" label="Close" (click)="closeDialog()" class="p-button-danger">
        Close
      </button>
    </p-footer>
  </p-dialog>
</div>
