<div
  *ngIf="loading"
  [ngClass]="isDarkMode ? 'dashboard-container dark-mode' : 'dashboard-container'"
  class="container mx-auto p-6 space-y-10"
>
  <h1 [ngClass]="isDarkMode ? 'text-3xl font-bold text-white' : 'text-3xl font-bold text-gray-800'">
    Analytics Dashboard
  </h1>

  <!-- Monthly Subscriptions and Subscription Plans Charts -->
  <div class="flex flex-col md:flex-row gap-12">
    <!-- Monthly Subscriptions Chart Container -->
    <div>
      <h2
        [ngClass]="
          isDarkMode ? 'text-xl font-semibold text-white' : 'text-xl font-semibold text-gray-800'
        "
      >
        Monthly Subscriptions
      </h2>
      <ag-charts
        [options]="monthlySubscriptionChartOptions"
        style="height: 300px; display: flex; width: 28vw"
      ></ag-charts>
    </div>

    <!-- Subscription Plans Chart Container -->
    <div>
      <h2
        [ngClass]="
          isDarkMode ? 'text-xl font-semibold text-white' : 'text-xl font-semibold text-gray-800'
        "
      >
        Subscription Plans
      </h2>
      <ag-charts
        [options]="subscriptionPlanChartOptions"
        style="height: 300px; display: flex; width: 28vw"
      ></ag-charts>
    </div>
  </div>

  <!-- Payment Metrics and User Metrics Charts -->
  <div class="flex gap-12">
    <!-- Payment Metrics Chart Container -->
    <div class="flex flex-col">
      <h2
        [ngClass]="
          isDarkMode ? 'text-xl font-semibold text-white' : 'text-xl font-semibold text-gray-800'
        "
      >
        Payment Metrics
      </h2>
      <ag-charts [options]="paymentChartOptions" style="height: 300px; width: 28vw"></ag-charts>
    </div>

    <!-- User Metrics Chart Container -->
    <div class="flex flex-col">
      <h2
        [ngClass]="
          isDarkMode ? 'text-xl font-semibold text-white' : 'text-xl font-semibold text-gray-800'
        "
      >
        User Metrics
      </h2>
      <ag-charts [options]="userChartOptions" style="height: 300px; width: 28vw"></ag-charts>
    </div>
  </div>
</div>
