<div
  class="bg-[#012a5b] text-white fixed transition-all duration-300 top-16 left-0"
  [ngClass]="{
    'w-20': isLeftSidebarCollapsed,
    'w-64': !isLeftSidebarCollapsed
  }"
  style="height: calc(100vh - 4rem)"
>
  <!-- Sidebar Menu -->
  <ul class="mt-6 space-y-1">
    <li
      class="flex items-center px-6 py-3 cursor-pointer hover:bg-indigo-700 transition rounded-md gap-x-2"
    >
      <a>Dashboard</a>
      <i
        class="transition-transform duration-300"
        [class]="'fal fa-chevron-down'"
      ></i>
    </li>
    <li *ngFor="let item of menuItems">
      <div
        class="flex items-center px-4 py-3 cursor-pointer hover:bg-indigo-700 transition rounded-md gap-x-2"
        (click)="toggleDropdown(item, $event)"
        [routerLink]="item.path"
        (keydown.enter)="toggleDropdown(item, $event)"
      >
        <i [class]="item.icon"></i>

        <span *ngIf="!isLeftSidebarCollapsed">{{ item.title }}</span>

        <i
          *ngIf="item.subMenus.length > 0"
          class="transition-transform duration-300"
          [ngClass]="item.isDropdownOpen ? 'rotate-180' : 'rotate-0'"
          [class]="'fal fa-chevron-down'"
        ></i>
      </div>

      <ul
        class="pl-6 space-y-1 mt-1 overflow-auto transition-all duration-300"
        [ngClass]="{
          'max-h-0 opacity-0': !item.isDropdownOpen,
          'max-h-40 opacity-100': item.isDropdownOpen
        }"
      >
        <li *ngFor="let sub of item.subMenus">
          <a
            class="block px-4 py-2 text-gray-300 hover:bg-indigo-700 transition rounded-md"
            [routerLink]="sub.path"
            routerLinkActive="bg-indigo-800"
            (click)="handleSubmenuClick(sub)"
          >
            {{ sub.title }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
