<div
  [ngClass]="
    isDarkMode
      ? 'max-w-xl mx-auto mt-10 p-6 border rounded-lg shadow-md bg-gray-800 text-gray-100 border-gray-700'
      : 'max-w-xl mx-auto mt-10 p-6 border rounded-lg shadow-md bg-white text-gray-800 border-gray-200'
  "
>
  <h2
    [ngClass]="
      isDarkMode ? 'text-3xl font-bold mb-6 text-gray-100' : 'text-3xl font-bold mb-6 text-gray-800'
    "
  >
    Subscription Details
  </h2>

  <div *ngIf="isLoading">
    <p [ngClass]="isDarkMode ? 'text-center text-gray-400' : 'text-center text-gray-600'">
      Loading subscription details...
    </p>
  </div>

  <div *ngIf="!isLoading && errorMessage">
    <p [ngClass]="isDarkMode ? 'text-center text-red-400' : 'text-center text-red-600'">
      {{ errorMessage }}
    </p>
  </div>

  <div *ngIf="!isLoading && subscription">
    <div class="space-y-4">
      <p>
        <strong [ngClass]="isDarkMode ? 'text-gray-300' : 'text-gray-700'">Plan Type:</strong>
        <span [ngClass]="isDarkMode ? 'text-gray-100' : 'text-gray-900'">
          {{ subscription.planType }}
        </span>
      </p>
      <p>
        <strong [ngClass]="isDarkMode ? 'text-gray-300' : 'text-gray-700'">Start Date:</strong>
        <span [ngClass]="isDarkMode ? 'text-gray-100' : 'text-gray-900'">
          {{ subscription.startDate | date }}
        </span>
      </p>
      <p>
        <strong [ngClass]="isDarkMode ? 'text-gray-300' : 'text-gray-700'">End Date:</strong>
        <span [ngClass]="isDarkMode ? 'text-gray-100' : 'text-gray-900'">
          {{ subscription.endDate | date }}
        </span>
      </p>
      <p>
        <strong [ngClass]="isDarkMode ? 'text-gray-300' : 'text-gray-700'">Status:</strong>
        <span
          class="text-[19px]"
          [ngClass]="
            subscription.subscriptionStatus === 1
              ? isDarkMode
                ? 'text-green-400'
                : 'text-green-600'
              : isDarkMode
                ? 'text-red-400'
                : 'text-red-600'
          "
        >
          {{ subscription.subscriptionStatus === 1 ? 'Active' : 'Inactive' }}
        </span>
        <br />
        <br />
        <span class="font-semibold" *ngIf="subscription.subscriptionStatus === 1">
          Plan:
          {{
            subscription.planType === 1
              ? 'Basic'
              : subscription.planType === 2
                ? 'Standard'
                : 'Premium'
          }}
        </span>
      </p>
    </div>

    <div class="flex flex-col">
      <button
        (click)="redirectToUsers()"
        [ngClass]="
          isDarkMode
            ? 'mt-6 w-full text-gray-100 px-4 py-2 bg-indigo-500 hover:bg-indigo-600 rounded transition-colors'
            : 'mt-6 w-full text-gray-900 px-4 py-2 bg-indigo-600 hover:bg-indigo-700 rounded transition-colors'
        "
      >
        Go Back
      </button>
      <div class="flex item-center justify-center gap-4">
        <span
          class="mt-4 text-xl p-2 rounded-md"
          [ngClass]="
            isDarkMode
              ? 'mt-4 px-4 py-2 text-gray-100 bg-indigo-500 hover:bg-indigo-600  rounded transition-colors'
              : 'mt-4 px-4 py-2  text-gray-100 bg-indigo-600 hover:bg-indigo-700  rounded transition-colors'
          "
          >Delete User Subcription :
        </span>
        <button
          class="bg-[#ef4444] p-2 w-[36px] h-[36px] rounded-md mt-5"
          (click)="deleteUserSubcription()"
          title="Delete"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
